@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)
	.promo_1 
		padding-bottom: 100px

// ≥992px
+media-breakpoint-down(md)
	.header_desktop .wrapper .logo_nav__box .header_logo__holder
		max-width: 75px
	.promo_2 .promo_2_content .promo_2_banner
		padding-top: 64px

	.promo_3 .promo_3_content .promo_3_link__holder 
		//margin-bottom: 50px

	.promo_2__holder
		height: 900px
	
	.sale_info 
		margin-top: 50px
		margin-bottom: 50px

	footer 
		.footer_content 
			.footer_list
				.social_title 
					font-size: 12px
					line-height: 16px




// ≥768px
+media-breakpoint-down(sm)
	.header_desktop
	 display: none
	.section_header__desktop
		display: none

	.section_header__mobile
		display: block
		background-color: #000A27
		.sale_link 
			//animation: pulsate 1.2s linear infinite
		.logo_nav__box
			.header_nav__holder 
				.header_nav__btn
					margin-top: 5px
				.header_content__box
					margin-top: 0

	.header_mobile
		display: block
		padding: 0

		.header_mobile__first_screen
			padding-top: 20px
			//padding-bottom: 20px
			background-image: url(../img/bg_promo_2.jpeg)
			background-repeat: no-repeat
			background-position-x: 60%
			background-position-y: -120px
			background-size: auto 130%
		
		.header_mobile__second_screen
			padding-top: 85px
			//padding-bottom: 30px
			background-image: url(../img/Alphability-GenX.jpeg)
			background-repeat: no-repeat
			background-position-x: center
			background-position-y: center
			background-size: cover
			.wrapper
				.header_banner__box
					.header_banner__text_bottom
						width: 90%
						margin: 0 auto
					.header_banner__links
						margin-top: 40px
						justify-content: center
						.btn
							padding: 17px 30px 17px 30px!important
						.btn_video
							margin-right: 10px
							padding-left: 47px!important
				.header_footer__box
					margin-top: 45px
					.header_footer__list
						flex-direction: row
						flex-wrap: wrap
						justify-content: space-around
						align-items: center
						.header_footer__item
							margin-bottom: 30px
							&:first-child
								width: 100%
								text-align: center
							&:last-child
								margin-bottom: 30px
	header
		background: none
	.section_header__mobile, .header_mobile__first_screen
		.section_header__holder
			display: flex
			justify-content: space-between
			align-items: center
			.section_header__logo
				width: 10%
			.section_header__nav
				width: 83%
				display: flex
				flex-wrap: wrap
				justify-content: flex-end
				.section_header__nav_item 
					display: inline-block
					margin-right: 20px
					position: relative
					padding: 0
					&:last-child
						margin-right: 0
					a 
						position: relative
						padding-bottom: 5px
						font-size: 16px
						line-height: 22px
					&:first-of-type
						padding: 0
					&:last-of-type
						padding: 0
					&:not(:last-of-type)::after
						display: none
		.logo_nav__box 
				align-items: flex-start
				justify-content: space-between
				.header_logo__holder 
					width: 95px
				.header_nav__holder
					.header_nav__btn
						display: inline-block
						width: 45px
						height: 35px
						position: relative
						cursor: pointer
						span
							position: absolute;
							height: 4px
							width: 100%
							background: #fff
							opacity: 1
							left: 0
							transform: rotate(0)
							transition: .25s ease-in-out
							&:nth-child(1)
								top: 0
							&:nth-child(2)
								top: 15px
							&:nth-child(3)
								top: 15px
							&:nth-child(4)
								top: 30px
						&.nav_btn__scrolling
							position: fixed
							top: 15px
							right: 15px
							z-index: 1200
						&.nav_btn__active
							position: fixed
							top: 15px
							right: 15px
							z-index: 10002
							span
								&:nth-child(1)
									top: 18px
									width: 0
									left: 50%
							span
								&:nth-child(2)
									transform: rotate(45deg)
							span
								&:nth-child(3)
									transform: rotate(-45deg)
							span
								&:nth-child(4)
									top: 18px
									width: 0
									left: 50%					
					ul
						display: none

					&.menu_state_open
						ul
							display: flex
							flex-direction: column
							justify-content: center
							align-items: center
							position: fixed
							top: 0
							left: 0
							right: 0
							height: 100vh
							background-color: rgba(0,0,0,.9)
							z-index: 10001
							overflow: auto
							li 
								padding: 0 
								margin: 0
								margin-bottom: 20px
								a 
									padding: 0 
									margin: 0
									color: #fff
	.btn 
		padding: 10px 10px

	header.header_mobile
		.wrapper 
			.header_content__box 
				.header_clock__box
					.header_clock__title 
						font-size: 29px
						line-height: 32px
					.clock_container
						margin-bottom: 35px
						background-color: rgba(0,0,0,0.5)
						.clock_content .clock_info
							.clock_info__discount
								margin-left: 50px

				.clock_subscribe__form 
					.clock_form__title
						font-size: 20px
						line-height: 24px
						span
							font-weight: 400
			.header_content__box
				margin-top: 90px
				.header_clock__box
					width: 85%
					.clock_btn
						box-shadow: 0px 15px 20px -10px rgba(0,0,0,0.75)!important
					.clock_subscribe__form
						.clock_subscribe__form
							font-size: 20px
							line-height: 24px
				.header_banner__box
					width: 100%
			.header_footer__box 
				margin-top: 50px
				.header_footer__list
					display: flex
					flex-direction: column
					//flex-wrap: wrap
					justify-content: space-between
					align-items: center
					.header_footer__item
						margin-bottom: 20px
						&:last-of-type
							margin-bottom: 0
	.promo_1 
		position: relative
		background-color: #000A27
		padding-bottom: 0
		&::before
			content: ""
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background-color: rgba(255,255,255,0.2)
		.promo_1_content 
			margin-top: 0
			padding-top: 50px
			padding-bottom: 35px
			.promo_1_content__title
				width: 90%
				margin-left: auto
				margin-right: auto
				font-size: 31px
				line-height: 37px
				text-align: center
			.promo_1_content__text
				display: none
				margin-top: 20px
				font-size: 18px
				line-height: 24px
				text-align: center
			.promo_1_banner__holder
				padding: 25px 0 25px 0
				width: 90%
				margin-left: auto
				margin-right: auto
				background-color: #000A27
				.promo_1_banner__title
					font-size: 20px
				.promo_1_banner__logo
					width: 67px
					height: auto
					margin: 35px auto 30px auto
			.promo_1_content__text_mobile
				display: block
				margin-top: 20px
				font-size: 17px
				line-height: 21px
				font-family: "Roboto"
				font-weight: 200
				text-align: center
				color: #C6C6C6
				&:first-of-type
					margin-top: 0
			.promo_1_link 
				margin-top: 30px
				padding: 10px 30px
				font-size: 16px
				background-color: #000A27
	.promo_2
		background: none
	.promo_2__holder
		height: 870px
		.promo_2_bernie__screen
			background-position: top
			height: 100vh
			position: fixed
			top: 0
			left: 0
		.promo_2_banner
			position: relative
			padding-top: 45%
	.promo_2_content
		display: none!important
	.promo_2_content__mobile
		display: block!important
		background-image: url(../img/bg_promo_2.jpeg)
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		&.d_hidden
			position: absolute
			clip: rect(0 0 0 0)
			width: 1px
			height: 1px
			margin: -1px
		.promo_2_banner
			padding-top: 80px
			padding-bottom: 80px
		.promo_2_banner__text
			font-family: "Futura"
			font-weight: 500
			font-size: 18px
			line-height: 22px
			text-transform: uppercase
		.promo_2_link
			z-index: 0
			margin-top: 115px
	.promo_2_mobile__info
		display: block
		height: 490px
		background-image: url(../img/bg_grad_1-100.jpg)
		background-repeat: no-repeat
		background-position: bottom
		background-size: cover
		&.d_hidden
			position: absolute
			clip: rect(0 0 0 0)
			width: 1px
			height: 1px
			margin: -1px
		.promo_2__content_box
			padding-top: 30px
			padding-bottom: 35px
			.promo_2_content__title
				font-size: 24px
				line-height: 32px
				font-family: "Futura"
				font-weight: 500
				color: #fff
				text-align: center
				text-transform: uppercase
			.promo_2_content__text
				margin-top: 20px
				font-size: 16px
				line-height: 24px
				font-family: "Roboto"
				font-weight: 200
				color: #C6C6C6
				text-align: center

	.promo_3 
		padding: 0
		background-image: url(../img/bg_grad_1-100.jpg)
		background-position: bottom
		&::before
			display: none
		.promo_3_content 
			margin-top: 0
			padding-top: 50px
			padding-bottom: 50px
			.promo_3_content__title 
				font-size: 24px
				line-height: 32px
				font-family: "Futura"
				font-weight: 500
				color: #fff
				text-align: center
				br 
					display: block
			.promo_3_content__text
				margin-top: 20px
				font-size: 16px
				line-height: 24px
				font-family: "Roboto"
				font-weight: 200
				color: #C6C6C6
				text-align: center
	.team 
		display: none
		padding-bottom: 50px
		.team_title
			margin-bottom: 20px
			h2
				font-size: 30px
				line-height: 36px
				text-align: center
		.team_slider 
			.slick-arrow
				top: 50%
				transform: translateY(-50%)
				width: 16px
				height: 23px
				background-repeat: no-repeat
				&.slick-prev
					left: -20px
				&.slick-next
					right: -20px
			.team_slide__item
				margin-bottom: 15px
				.slide_name
					margin-top: 5px
					font-size: 11px
					line-height: 14px
				.slide_link
					font-size: 11px
					line-height: 1
		.team_popup
			bottom: 0
			width: 100%
			padding: 20px
			box-shadow: 0 0 5px 5px rgba(0,0,0,.5)
			border-radius: 0
			.team_popup__btn
				top: 5px
				span
					width: 15px
					height: 2px
			.popup_title
				font-size: 18px
				line-height: 24px
			.popup_text
				font-size: 12px
				line-height: 16px
	
	.tokenomics
		height: auto
		padding-top: 0
		padding-bottom: 0
		.wrapper
			height: auto
			.tokenomics_video__container
				display: none
	.tokenomics_mobile
		display: block!important
		position: relative
		background-color: #000A27
		&::before
			content: ""
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background-color: rgba(255,255,255,0.2)
		.tokenomics_mobile__title
			padding-top: 80px
			margin-bottom: 60px
			font-size: 30px
			line-height: 40px
			font-family: "Futura"
			font-weight: 500
			color: #fff
			text-align: center
			text-transform: uppercase
		.tokenomics_mobile_banner
			display: flex
			flex-direction: column
			align-items: center
			justify-content: space-between
			padding-bottom: 70px
			height: 100%
			.tokenomics_mobile_banner__holder
				padding: 40px 0 40px 0
				width: 90%
				margin-left: auto
				margin-right: auto
				margin-bottom: 40px
				text-align: center
				background-color: #000A27
				border-radius: 30px
				box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.5);
				.tokenomics_mobile_banner__logo
					margin: 35px auto
					width: 95px
					height: 95px
				.tokenomics_mobile_banner__btn
					margin: 0 auto
					padding: 10px 30px
			.tokenomics_mobile_content__text_mobile
				margin-top: 25px
				font-size: 16px
				line-height: 24px
				font-family: "Roboto"
				font-weight: 200
				color: #C6C6C6
				text-align: center
			.tokenomics_mobile_link
				margin-top: 70px
				padding: 10px 30px
				background-color: #000A27

	.sale 
		position: relative
		padding-bottom: 0
		background-image: url(../img/bg_grad_1-100.jpg)
		background-repeat: no-repeat
		background-position: bottom
		background-size: cover
		/* &::before
			content: ""
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background-color: rgba(255,255,255,0.2) */
		.sale_content__box 
			.sale_content
				padding-bottom: 30px
			.sale_title 
				font-size: 30px
				line-height: 40px
				font-family: "Futura"
				font-weight: 400
				color: #fff
				text-align: center
				text-transform: uppercase
			.sale_text
				margin-top: 25px
				font-size: 20px
				line-height: 24px
				font-family: "Roboto"
				font-weight: 200
				color: #fff
				text-align: center
			.sale_diagram__box
				margin-top: 20px
			.sale_title
				font-size: 30px
				line-height: 36px
				text-align: center
			.sale_text
				margin-top: 10px
				font-size: 16px
				line-height: 20px
			.sale_link__holder
				display: none
			.sale_diagram__container
				display: none
			.sale_diagram__container_mobile
				display: flex
				justify-content: space-between
				//align-items: flex-end
				margin-bottom: 15px
				.diagram_mobile__item
					width: 16%
					.diagram_mobile__col
						padding-top: 15px
						font-size: 20px
						line-height: 24px
						font-family: "Roboto"
						font-weight: 400
						color: #fff
						text-align: center
					.diagram_mobile__period
						margin-top: 10px
						font-size: 12px
						line-height: 14px
						font-family: "Roboto"
						font-weight: 200
						color: #fff
						text-align: center
				.diagram_mobile__col_desc
					position: relative
					width: 14%
					height: 275px
					align-self: stretch
					.diagram_mobile__text
						position: absolute
						top: 50%
						left: 50%
						width: 150px
						font-size: 18px
						line-height: 1
						font-family: "Futura"
						font-weight: 400
						color: #fff
						text-transform: uppercase
						transform: translate(-50%, -50%) rotate(-90deg)
				.diagram_mobile__col_20
					height: 275px
					background-color: rgba(89,181,174,1)
				.diagram_mobile__col_15
					height: 200px
					margin-top: 75px
					background-color: rgba(89,181,174,0.8)
				.diagram_mobile__col_10
					height: 125px
					margin-top: 150px
					background-color: rgba(89,181,174,0.6)
				.diagram_mobile__col_5
					height: 60px
					margin-top: 215px
					background-color: rgba(89,181,174,0.4)
				.diagram_mobile__col_0
					height: auto
					margin-top: 236px
					background-color: transparent
			.sale_diagram__link_holder
				display: block
				text-align: center
				margin-bottom: 30px
			.sale_diagram__mobile_date
				display: block
				margin-bottom: 30px
				font-size: 18px
				line-height: 
				font-family: "Roboto"
				font-weight: 400
				color: #fff
				text-transform: uppercase
				text-align: center
			.sale_diagram__text
				text-align: center
				color: #fff!important
			.sale_link__holder
				text-align: center
				margin-bottom: 40px
			.sale_info 
				.sale_info__title
					font-size: 28px
					line-height: 34px
					text-align: left
				.sale_info__text
					font-size: 14px
					line-height: 24px
				.sale_info__desc
					font-size: 12px
					line-height: 16px

	.token_sale__mobile
		position: relative
		background-image: url(../img/Token-Sale.jpeg)
		background-repeat: no-repeat
		background-position: 77% -220px
		background-size: 150% 125%
		&::before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: rgba(0,10,39,0.7)
		.token_sale__mobile_title
			padding-top: 75px
			margin-bottom: 80px
			font-size: 30px
			line-height: 1
			font-family: "Futura"
			font-weight: 400
			color: #fff
			text-transform: uppercase
			text-align: center
		.token_sale__info
			background-color: rgba(0,0,0,0.5)
			border-radius: 3%
			overflow: hidden
			.token_sale__info_title
				background-color: #44BEB4
				font-size: 24px
				line-height: 56px
				font-family: "Futura"
				font-weight: 400
				color: #fff
				text-transform: uppercase
				text-align: center
			.token_sale__info_text
				padding-top: 10px
				padding-bottom: 10px
				text-align: center
				font-size: 18px
				line-height: 28px
				font-family: "Roboto"
				font-weight: 200
				color: #fff
		.token_sale__info__desc
			width: 95%
			margin: 0 auto
			padding-top: 10px
			padding-bottom: 50px
			text-align: center
			font-size: 16px
			line-height: 20px
			font-family: "Roboto"
			font-weight: 200
			color: #fff

	.airdrop_mobile
		display: block
		position: relative
		background-image: url(../img/Alphability-Rewards.jpeg)
		background-repeat: no-repeat
		background-position: 30% bottom
		background-size: cover
		&::before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: rgba(0,10,39,0.5)
		.airdrop_mobile__title
			padding-top: 70px
			text-align: center
			text-transform: uppercase
			font-size: 30px
			line-height: 40px
			font-family: "Futura"
			font-weight: 400
			color: #fff
		.airdrop_mobile__logo_holder
			width: 125px
			margin: 0 auto
			margin-top: 35px
			margin-bottom: 35px
		.airdrop_mobile__promo
			font-size: 26px
			line-height: 32px
			font-family: "Roboto"
			font-weight: 200
			color: #fff
			text-align: center
		.airdrop_mobile__link_holder
			margin-top: 20px
			margin-bottom: 20px
			text-align: center
			.airdrop_mobile__link
				display: inline-block
				padding: 20px 30px
				border: none
				text-transform: uppercase
				font-size: 24px
				line-height: 1
				font-family: "Futura"
				font-weight: 400
				color: #fff
				//background-color: rgba(0,0,0,0.5)
		.airdrop_mobile__regist
			padding-bottom: 60px
			.airdrop_mobile__regist_text
				margin-bottom: 60px
				font-size: 20px
				line-height: 24px
				font-family: "Roboto"
				font-weight: 200
				color: #fff
				text-align: center
				span
					font-weight: 400
				a
					font-weight: 400
					color: #fff
					text-decoration: underline
					cursor: pointer
			.airdrop_mobile__regist_promo
				margin-bottom: 30px
				font-size: 18px
				line-height: 24px
				font-family: "Roboto"
				font-weight: 200
				color: #fff
				font-style: italic
				text-align: center
			.airdrop_mobile__regist_action
				display: flex
				justify-content: space-around
				.airdrop_mobile__regist_item
					position: relative
					width: 75px
					height: 75px
					border-radius: 100%
					overflow: hidden
					cursor: pointer
					span
						position: absolute
						top: 50%
						left: 50%
						transform: translate(-50%,-50%)
						text-align: center
					.action_text
						opacity: 0
						display: flex
						align-items: center
						justify-content: center
						width: 100%
						height: 100%
						font-size: 18px
						line-height: 20px
						font-family: "Roboto"
						font-weight: 200
						color: #fff
						background-color: #44BEB4
						z-index: 100
						transition: 0.3s
						&.action_text__show
							opacity: 1
					.action_number
						opacity: 1
						display: flex
						align-items: center
						justify-content: center
						width: 100%
						height: 100%
						font-size: 18px
						line-height: 20px
						font-family: "Roboto"
						font-weight: 200
						color: #fff
						background-color: rgba(68,190,180,0.4)
	footer
		display: none
	.footer_mobile 
		display: block
		.footer_content
			padding-top: 65px
			padding-bottom: 50px
		.social_title, .register_title
			margin-bottom: 7px
			text-align: center
			text-transform: uppercase
			font-size: 24px
			line-height: 1
			font-family: "Futura"
			font-weight: 400
			color: #fff
		.social_text, .register_text
			text-align: center
			font-style: italic
			font-size: 18px
			line-height: 24px
			font-family: "Roboto"
			font-weight: 200
			color: #fff
		.social_list
			display: flex
			justify-content: space-around
			margin-top: 35px
			margin-bottom: 55px
			.social_item
				width: 60px
				height: 60px
				border-radius: 100%
				overflow: hidden

		.footer_form
			form
				.input_holder
					margin-top: 20px
					input
						width: 100%
						background-color: transparent
						border-bottom: 1px solid #fff
						font-family: "Roboto"
						font-weight: 200
						font-size: 11px
						line-height: 16px
						color: #fff
				.footer_form_btn__holder
					text-align: right
					.footer_form_btn
						position: relative
						padding-right: 20px
						background-color: transparent
						font-family: "Roboto"
						font-weight: 200
						font-size: 11px
						line-height: 16px
						color: #fff
						outline: none
						&::after
							content: ""
							position: absolute
							right: 0
							top: 50%
							transform: translateY(-50%)
							width: 12px
							height: 12px
							background-color: #E9A301
							border-radius: 50%
							transition: 0.3s
						&:hover::after
							background-color: #5EB3AE
		.footer_logo
			padding-top: 35px
			padding-bottom: 90px
			background-color: #000A27
			.footer_logo__holder
				width: 70px

	.team 
		display: none
		.team_list
			position: relative 
			margin-top: 0
			text-align: center
			display: flex
			justify-content: space-between
			margin-bottom: 40px
			&::after
				content: ""
				position: absolute
				height: 2px
				bottom: -22px
				left: 0
				right: 0
				background-color: #4BB9B2
		.team_slider 
			.slick-arrow.slick-next 
				right: -70px
			.slick-arrow.slick-prev 
				left: -70px
		.team_popup
			max-height: 50%
			overflow: hidden
			.popup_title
				font-size: 26px
			.popup_text
				max-height: 100px
			.team_popup__btn
				top: 20px
	
	.team_mobile
		display: block
		position: relative
		background-image: url(../img/Alphability-Team.jpeg)
		background-position: 0
		background-size: cover
		background-repeat: no-repeat
		&::before
			content: ""
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background-color: rgba(0,10,39,0.7)
		.team_title
			padding-top: 50px
			margin-bottom: 30px
			h2
				font-size: 30px
				line-height: 40px
				font-family: "Futura"
				font-weight: 500
				color: #fff
				text-align: center
				text-transform: uppercase
		.team_list
			text-align: center
			margin-bottom: 40px
			.team_item
				font-size: 20px
				line-height: 28px
				font-family: "Roboto"
				font-weight: 200
				text-align: center
				a 
					color: #fff
					&.active
						display: inline-block
						width: 180px
						text-align: center
						border: 1px solid #fff 
						color: #44BEB4
		.team_tabs_m
			display: none!important
			&.show
				display: block!important
		.team_content
			padding-bottom: 65px
		.team_slider_m
			display: flex
			position: relative
			.slick-arrow
				position: absolute
				top: -60px
				width: 100px
				height: 15px
				font-size: 0
				background-color: transparent
				background-repeat: no-repeat
				background-position: center
				background-size: cover
				&.slick-prev
					left: 0
					background-image: url(../img/team-last_btn.png)
					outline: none
				&.slick-next
					right: 0
					background-image: url(../img/next_btn.png)
					outline: none
			.slick-list
				position: relative
				padding-top: 38px!important
			.team_slider__item
				padding: 0
				position: relative
				border-radius: 10px
				cursor: pointer
				transform: scale(0.9)
				transition: 0.3s
				&.slick-current
					transform: scale(1)
					.slider_icon__holder
						border: 3px solid #44BEB4
					.slide_name
						background-color: #44BEB4
					.slide_title
						background-color: rgba(0,10,39,0.5)
				.slider_icon__holder
					position: absolute
					top: -37.5px
					left: 50%
					transform: translateX(-50%)
					width: 75px
					height: 75px
					border: 3px solid darken(#44BEB4, 20%)
					border-radius: 100%
				.slide_name
					padding-top: 55px
					padding-bottom: 10px
					font-size: 20px
					line-height: 1
					font-family: "Futura"
					font-weight: 400
					text-align: center
					background-color: darken(#44BEB4, 20%)
					border-top-left-radius: 10px
					border-top-right-radius: 10px
				.slide_title
					padding: 20px 15px 25px 15px
					font-size: 16px
					line-height: 24px
					font-family: "Roboto"
					font-weight: 200
					text-align: center
					background-color: rgba(0,10,39,0.8)
					border-bottom-left-radius: 10px
					border-bottom-right-radius: 10px

	.sale 
		.sale_content__box 
			padding-bottom: 0
			.sale_info
				margin-top: 50px
			.sale_diagram__container 
				.sale_diagram__bonus_list 
					opacity: 1

	.roadmap
		display: none
	.roadmap_mobile
		display: block
		position: relative
		background-image: url(../img/AdobeStock_207920306_Preview.jpeg)
		background-position: 70% 0
		background-size: 250%
		background-repeat: no-repeat
		&::before
			content: ""
			position: absolute
			left: 0
			top: 0
			width: 100%
			height: 100%
			background-color: rgba(0,10,39,0.7)
		.roadmap_mobile__title
			padding-top: 70px
			margin-bottom: 130px
			h2
				font-size: 30px
				line-height: 40px
				font-family: "Futura"
				font-weight: 500
				color: #fff
				text-align: center
				text-transform: uppercase
		.roadmap_mobile__list
			text-align: center
			margin-bottom: 75px
			.roadmap_mobile__item
				font-size: 20px
				line-height: 28px
				font-family: "Roboto"
				font-weight: 200
				text-align: center
				color: #fff
				display: inline-block
				width: 180px
				text-align: center
				border: 1px solid #fff 
		.roadmap_mobile__content
			padding-bottom: 65px
		.roadmap_mobile__slider
			display: flex
			align-items: center
			position: relative
			.slick-arrow
				position: absolute
				top: -60px
				width: 100px
				height: 15px
				font-size: 0
				background-color: transparent
				background-repeat: no-repeat
				background-position: center
				background-size: cover
				&.slick-prev
					left: 0
					background-image: url(../img/team-last_btn.png)
					outline: none
				&.slick-next
					right: 0
					background-image: url(../img/next_btn.png)
					outline: none
			.slick-list
				position: relative
			.roadmap_mobile__slider_item
				padding: 0
				position: relative
				border-radius: 10px
				cursor: pointer
				transform: scale(0.9)
				&.slick-current
					transform: scale(1)
					.slide_name__2017
						background-color: #44BEB4!important
					.slide_name__2018
						background-color: #e9a301!important
					.slide_title
						background-color: rgba(0,10,39,0.5)!important
				.slide_name
					padding-top: 20px
					padding-bottom: 20px
					font-size: 20px
					line-height: 1
					font-family: "Futura"
					font-weight: 400
					text-align: center
					text-transform: uppercase
					border-top-left-radius: 10px
					border-top-right-radius: 10px
					&.slide_name__2017
						background-color: darken(#44BEB4, 20%)
					&.slide_name__2018
						background-color: darken(#e9a301, 20%)
				.slide_title
					min-height: 250px
					padding: 20px 15px 25px 15px
					font-size: 16px
					line-height: 24px
					font-family: "Roboto"
					font-weight: 200
					text-align: center
					background-color: rgba(0,10,39,0.7)
					border-bottom-left-radius: 10px
					border-bottom-right-radius: 10px

	.team_mobile .team_slider_m .slick-list::before 
		top: 38px
		width: 85px
	.team_mobile .team_slider_m .slick-list::after 
		top: 38px
		width: 85px

	.roadmap_mobile .roadmap_mobile__slider .slick-list::before 
		width: 85px
	.roadmap_mobile .roadmap_mobile__slider .slick-list::after 
		width: 85px	




// ≥576px
+media-breakpoint-down(xs)
	header
		.wrapper 
			.header_clock__title 
				span
					display: block
	.promo_2__holder
		.promo_2
			padding-top: 0
			.promo_2_link 
				font-size: 16px!important
		.promo_2_content__mobile
			padding-top: 0
		.promo_2_bernie__screen
			padding-top: 0
			.promo_2__secondary_banner
				.secondary_banner__box
					padding-right: 15px
	
	.roadmap_mobile
		background-position: 70% 0
		background-size: 350%

	.separate_mobile
		display: block
	 
@media (max-width: 400px)
	.promo_2__holder
		height: 1000px
	.roadmap_mobile .roadmap_mobile__list .roadmap_mobile__item
		width: auto
		padding: 0 10px
	.promo_2_bernie__screen .promo_2__secondary_banner
		margin-top: 25px
		.secondary_banner__box
			height: 250px
	.promo_2_mobile__info
		height: 620px
/* ============ Only ============= */
// ≤992px to ≥1200px
+media-breakpoint-only(lg)
	header .wrapper
		.header_content__box
			.header_clock__box
				width: 80%
			.header_banner__box
				width: 90%

	.sale .sale_content__box .sale_diagram__box .sale_link 
		margin-top: 30px
		padding: 10px 10px

	.sale .sale_content__box .sale_diagram__container .sale_diagram__bonus_list 
		width: 70px
		li 
			margin-bottom: 50px
			font-family: Roboto
			font-weight: 200
			font-size: 12px
			line-height: 14px
			color: #c6c6c6


				
/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)
	

// ≤1200px
+media-breakpoint-up(xl)
	

/*============= DASHBOARD PAGE ============*/

// ≥1200px
+media-breakpoint-down(lg)
	

// ≥992px
+media-breakpoint-down(md)
	.dashboard_header
		.header_nav__holder
			.header_nav__btn
				display: inline-block
				vertical-align: middle
				width: 45px
				height: 35px
				position: relative
				cursor: pointer
				span
					position: absolute;
					height: 4px
					width: 100%
					background: #fff
					opacity: 1
					left: 0
					transform: rotate(0)
					transition: .25s ease-in-out
					&:nth-child(1)
						top: 0
					&:nth-child(2)
						top: 15px
					&:nth-child(3)
						top: 15px
					&:nth-child(4)
						top: 30px
				&.nav_btn__active
					position: fixed
					top: 25px
					right: 25px
					z-index: 10002
					span
						&:nth-child(1)
							top: 18px
							width: 0
							left: 50%
					span
						&:nth-child(2)
							transform: rotate(45deg)
					span
						&:nth-child(3)
							transform: rotate(-45deg)
					span
						&:nth-child(4)
							top: 18px
							width: 0
							left: 50%					
			ul
				display: none

			&.menu_state_open
				ul
					display: flex
					flex-direction: column
					justify-content: center
					align-items: center
					position: fixed
					top: 0
					left: 0
					right: 0
					height: 100vh
					background-color: rgba(0,0,0,.9)
					z-index: 10001
					overflow: auto
					li 
						padding: 0 
						margin: 0
						margin-bottom: 20px
						a 
							padding: 0 
							margin: 0
							color: #fff

	header.dashboard_header
		padding: 20px 0 25px 0
		.logo_nav__box 
			align-items: center
			.sale_link
				display: inline-block
				padding: 0 20px
				line-height: 38px
				//animation: pulsate 1.2s linear infinite
			.header_logo__holder
				max-width: 55px
			.header_nav__holder li a
				font-size: 18px
			.header_nav__holder li:nth-of-type(2)::before
				display: none
			.header_nav__holder li:nth-of-type(2)::after
				display: none
			.header_nav__holder li:nth-of-type(3)
				display: none

	.rate_header
		position: relative
		//margin-top: 95px
		padding-top: 40px
	.rate_date
		position: absolute
		top: 0
		right: 0
	.rate_content
		padding-top: 25px
		margin-bottom: 20px
	.right_col__title
		height: auto
		margin-bottom: 20px
		padding-bottom: 15px
		border-bottom: 1px solid #49bcb2
	.toggle_day__holder
		margin-bottom: 5px
	.dashboard_handler
		margin-bottom: 10px
	.left_col__title
		font-size: 28px
		line-height: 34px
		color: #D1D3D4

	/* .left_col__item::before
		display: none */
	.underperform_title, .outperform_title, .when_title, .why_title
		font-size: 28px
		line-height: 1
		color: #D1D3D4
		margin-bottom: 0

	.underperform_title, .outperform_title 
		span
			margin-left: 5px
			margin-right: 0
	
	.underperform_item, .outperform_item, .when_item
		font-size: 20px
		line-height: 24px
		
	.underperform_item
		&.active
			font-size: 26px
			line-height: 30px
	.outperform_item
		&.active
			font-size: 15px
			line-height: 30px
		&.active
			font-size: 15px
			line-height: 30px

	.why_item 
		margin-left: 15px
		margin-right: 15px
		transform: scale(0.9)
		transition: 0.3s
		p 
			position: relative
			overflow: hidden
			transition: 0.3s
			&::before
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 100%
				height: 100%
				background-color: rgba(0,0,0,0.5)
		&.slick-active
			transform: scale(1)
			p::before
				background-color: rgba(0,0,0,0)
	.recommend_link.recommend_link__outperform
		display: none
	.section_separator
		margin-top: 0!important
		margin-bottom: 35px
		width: 100%
		height: 1px
		background: #49BCB2
		img
			display: none
	.why_list 
		margin-top: 15px
	.tell_btn:last-child 
		margin-right: 0
	.indicators
		.indicators_title__holder
			padding-left: 0
			margin-top: 0
			margin-bottom: 30px
			text-align: center
	.indicators_btn
		margin-right: 0
	.dashboard_news
		.news_title__holder
			padding-left: 0
			margin-top: 0
			margin-bottom: 30px
			text-align: center
	.tell_form__holder
		text-align: center
	.indicators_handler__view
		margin-bottom: 15px
		padding-right: 0
		text-align: center
	.news_tabs__handler 
		.news_tabs__btn
			font-size: 22px
			line-height: 30px
			&.active
				border-radius: 0
	.news_slide__list 
		padding-left: 0
		height: 304px
		overflow-y: auto
	.news_slide__item
		margin-bottom: 25px
		width: auto
		.slide_content
			padding-right: 0
			&:last-of-type
				margin-bottom: 0
	

// ≥768px
+media-breakpoint-down(sm)
	.dashboard_body
		.btn 
			padding: 0 10px
	.rate_date 
		font-size: 14px
	.rate_title__holder h2
		font-size: 24px
	.rate_item 
		.rate_item__title
			margin-bottom: 15px
			line-height: 1
		.rate_item__value
			font-size: 36px
			line-height: 1
	.right_col__title
		padding-left: 10px
		padding-right: 5px
		text-align: left
	.why_item p
		font-size: 18px
		line-height: 22px
	.recommend_holder
		padding-left: 0
		justify-content: space-between
	.recommend_title
		font-size: 28px
		display: flex
		align-items: center
	/* .recommend_title__ico
		display: inline-block
		margin-left: 15px
		width: 15px
		height: 30px
		background-image: url(../img/rec_icon.svg)
		background-repeat: no-repeat
		background-position: center
		background-size: 100% */
	.recommend_link.active
		border: none

	.tell_form__holder
		padding-left: 0
		padding-right: 0
// ≥576px
+media-breakpoint-down(xs)
	.why_item 
		margin-left: 5px
		margin-right: 5px

@media (max-width: 425px)
	.indicators_title 
		padding: 10px 20px
		font-size: 16px
		line-height: 20px

@media (max-width: 490px)
	.dashboard_handler
		flex-wrap: wrap
	.handler_zoom
		width: 100%
	.handler_period
		margin-top: 5px
		width: 100%

@media (max-width: 400px)
	.rate_item 
		.rate_item__title
			font-size: 16px
			margin-bottom: 5px
		.rate_item__value
			font-size: 22px
			line-height: 26px
	.why_item p
		font-size: 16px
		line-height: 20px
	.recommend_title
		font-size: 22px
	.recommend_link.recommend_link__outperform 
		font-size: 18px
		line-height: 30px
		color: #9FCC3B
		background-color: transparent
		border: 1px solid #9FCC3B
	.fn_indicators__slider .slick-arrow.slick-prev
		left: 0
	.fn_indicators__slider .slick-arrow.slick-next 
		right: 0
	.indicators_table__holder
		padding: 0 
		table
			padding: 15px 10px
			width: 100%
			font-family: "Roboto"
			font-size: 12px
			font-weight: 400
			line-height: 1
			color: #151D2F
			border-collapse: collapse
			border-radius: 10px
			background-color: #48BCB2
			overflow: hidden
			display: block
			tr
				td
					padding-top: 10px
					padding-bottom: 10px
					width: 16.6%
					text-align: center
					border-top: 1px solid #151D2F
					border-bottom: 1px solid #151D2F
					&:first-child
						padding-left: 0
						padding-right: 10px
						text-align: right
						border-top: none
						border-bottom: none
						white-space: nowrap
					&:nth-child(2)
						padding-left: 5px
						text-align: left
					&:last-child
						padding-right: 5px
						text-align: right
				&:last-child
					td
						font-weight: 700
						padding-bottom: 0
						&:not(:first-child)
							border-bottom: none
	.news_slide__list 
		padding: 0 25px
		padding-left: 0
	.news_tabs__handler 
		.news_tabs__btn
			font-size: 16px
			line-height: 20px
		