@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body.dashboard_body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.3
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background-color: #151D2F
	input, textarea
		//border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

.btn_dashboard
	position: relative
	display: inline-block
	font-family: "Roboto"
	font-weight: 200
	font-size: 10px
	line-height: 25px
	color: #D1D3D4
	text-align: center
	text-decoration: none;
	transition: .3;
	//background-color: #000;
	box-shadow: 0 5px 20px rgba(0,0,0, .5);
	overflow: hidden;
	z-index: 100

.btn_dashboard::before 
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	//background: linear-gradient( to left,rgba(255,255,255,0.5) 0%, #010103 100%)
	background: rgba(255,255,255,0.3);
	z-index: -1;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .5s ease-in-out;

.btn_dashboard:hover
	color: #fff
	&::before
		transform: scaleX(1);
		transform-origin: left;

.no_scroll 
	overflow-y: hidden

.fixed 
	position: fixed
	margin: 0
	width: 100%
	top: 0
	z-index: 1001
	right: 0
	left: 0

b, strong
	font-weight: bold

header, section, footer
	position: relative
	width: 100%
	min-width: 100px
	
input[type="text"]::-webkit-input-placeholder
	 color: #fff
input[type="text"]::-moz-placeholder
	color: #fff
input[type="text"]:-moz-placeholder
	color: #fff
input[type="text"]:-ms-input-placeholder 
	 color: #fff

input[type="email"]::-webkit-input-placeholder
	 color: #fff
input[type="email"]::-moz-placeholder
	color: #fff
input[type="email"]:-moz-placeholder
	color: #fff
input[type="email"]:-ms-input-placeholder 
	 color: #fff

	 
input[type="submit"]
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	
/* for number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0; 
input[type="number"]
	-moz-appearance: textfield;
input[type="number"]:hover,
input[type="number"]:focus
	-moz-appearance: number-input;
	
span.strong
	font-weight: bold;
	
	
/* select */
select
	-webkit-appearance: none
	-moz-appearance: none 
	-ms-appearance: none
	-o-appearance: none
	appearance: none
	
	 
	
/* COMMON */ 
.wrapper
	position: relative
	margin: 0 auto

	
/* HEADER */
header.dashboard_header
	padding-top: 30px
	padding-bottom: 20px
	position: relative
	&.scrolling
		position: fixed
		top: 0
		padding: 10px 0
		z-index: 2000
		background-color: #141D2F
	.sale_link
			display: none
	.logo_nav__box
		display: flex
		justify-content: space-between
		.header_logo__holder
			max-width: 80px
		.header_nav__holder
			.header__nav__btn
				display: none
			li 
				display: inline-block
				padding-left: 10px
				padding-right: 10px
				&:first-of-type
					padding-left: 0
				&:nth-of-type(2)
					position: relative
					&::before
						content: ""
						position: absolute
						top: 5px
						bottom: 5px
						left: 0
						width: 1px
						background: #45BDB3
					&::after
						content: ""
						position: absolute
						top: 5px
						bottom: 5px
						right: 0
						width: 1px
						background: #45BDB3
				&:last-of-type
					padding-right: 0
				a 
					display: inline-block
					position: relative
					padding-left: 7px
					padding-right: 7px
					font-family: "Roboto"
					font-weight: 200
					font-size: 12px
					line-height: 25px
					color: #fff
					transition: 0.3s
					&.active
						border: 1px solid #fff

/* section rate */
.rate_header
	display: flex
	justify-content: space-between
	align-items: center
.rate_title__holder h2
	font-family: "Roboto"
	font-weight: 400
	font-size: 26px
	line-height: 32px
	color: #fff
	span
		color: #48BCB2
		font-weight: 200
.rate_date
	font-family: "Roboto"
	font-weight: 200
	font-size: 16px
	line-height: 1
	color: #D1D3D4
.rate_content
	display: flex
	justify-content: space-between
	margin-top: 15px
	margin-bottom: 30px
	padding-top: 20px
	padding-bottom: 20px
	border-top: 1px solid #49BCB2
	border-bottom: 1px solid #49BCB2
.rate_item
	flex-grow: 1
	text-align: center
	span
		display: block
	.rate_item__title
		margin-bottom: 10px
		font-family: "Roboto"
		font-weight: 200
		font-size: 20px
		line-height: 26px
		color: #fff
	.rate_item__value
		display: inline-block
		font-family: "Roboto"
		font-weight: 400
		font-size: 48px
		line-height: 58px
	&.rate_item__sell
		color: #ED202F
	&.rate_item__buy
		color: #0096BE
	&.rate_item__perfomance
		color: #48BCB2
		.rate_item__value
			position: relative
			display: flex
			justify-content: center
			align-items: center
			.rate_item__perfomance_ico
				display: inline-block
				margin-left: 5px
				width: 25px
				height: 10px
				background-image: url(../img/rate_value.svg)
				background-repeat: no-repeat
				background-position: center
				background-size: 100%
				
.rate_item__separator
	width: 1px
	height: auto
	background-color: #49BCB2
	transform: rotate(10deg)

/* section dashboard_content */
.left_col
	text-align: center
.left_col__title
	margin-bottom: 25px
	font-family: "Roboto"
	font-weight: 200
	font-size: 20px
	line-height: 28px
	color: #fff
	text-align: center
	span
		font-weight: 400
.left_col__item
	position: relative
	padding-top: 25px
	padding-bottom: 15px
	padding-left: 15px
	padding-right: 15px
	border-top: 1px solid #49BCB2
	text-align: center 
.left_col__content
	display: none
	ul
		li
			cursor: pointer
.left_col__item_title
	&.show
		&::before
			transform: rotate(-135deg)
			top: 5px

.underperform_title, .outperform_title, .when_title, .why_title
	font-family: "Roboto"
	font-weight: 400
	font-size: 18px
	line-height: 1
	color: #fff
	text-align: center
	cursor: pointer
.underperform_title, .outperform_title, .when_title, .why_title
	position: relative
	transition: 0.3s
	&::before
		content: ""
		position: absolute
		top: -5px
		right: 10px
		transform: rotate(45deg)
		width: 15px
		height: 15px
		background-color: #151D2F
		border-right: 1px solid #49BCB2
		border-bottom: 1px solid #49BCB2  
		cursor: pointer
		transition: 0.3s
.when_title, .why_title
	cursor: default
	&::before
		cursor: default
.underperform_title
	display: flex
	justify-content: center
	align-items: center
.outperform_title
	display: flex
	justify-content: center
	align-items: center
.underperform_list, .outperform_list, .when_list
	margin-top: 12px
	position: relative
	.underperform_item, .outperform_item, .when_item
		font-family: "Roboto"
		font-weight: 200
		font-size: 12px
		line-height: 30px
		color: #A1A3A6
		text-align: center
		transition: 0.3s
		&:hover
			font-size: 15px
			color: #fff
	.underperform_item
		&.active
			font-size: 15px
			color: #fff
			background-image: linear-gradient(90deg, rgba(20, 28, 47, 1) 4.29%, rgba(183, 29, 34, 1) 50.31%, rgba(21, 28, 46, 1) 95.71%)
	.outperform_item
		&.active
			font-size: 15px
			color: #fff
			background-image: linear-gradient(90deg, rgba(20, 28, 47, 1) 5.52%, rgba(127, 191, 66, 1) 50.31%, rgba(21, 28, 46, 1)  95.71%)
	.when_item
		&.active
			font-size: 15px
			color: #fff
			background-image: linear-gradient(90deg, rgba(20, 28, 47, 1) 5.52%, rgba(50, 188, 173, 1) 50.31%, rgba(21, 28, 46, 1)  95.71%)
.left_col__btn, .when_btn
	display: inline-block
	margin-top: 15px
	padding: 0 20px!important
	line-height: 30px
	font-family: Roboto
	font-weight: 200
	font-size: 14px
	color: #fff
	border: 1px solid #fff

.right_col__title
	margin-bottom: 25px
	height: 84px
	font-family: "Roboto"
	font-weight: 100
	font-size: 20px
	line-height: 28px
	color: #fff
	text-align: center
.right_col
	#myTab
		justify-content: flex-end
	.nav-item
		margin: 0
	.nav-item .nav-link
		display: inline-block
		padding: 0 10px
		font-family: "Roboto"
		font-weight: 200
		font-size: 12px
		line-height: 20px
		color: #D1D3D4
		border: none
		border-radius: 0

		&.active
			color: #151D2F
			background-color: #48BCB2

.dashboard_handler
	display: flex
	justify-content: space-between
	margin-bottom: 25px
.handler_zoom
	.handler_zoom__title, .handler_zoom__item
		display: inline-block
		padding-left: 5px
		padding-right: 5px
		font-family: "Roboto"
		font-weight: 200
		font-size: 12px
		line-height: 20px
		color: #D1D3D4
	.handler_zoom__title
		padding-left: 0
	.handler_zoom__item
		text-transform: uppercase
		&.active
			color: #151D2F
			background-color: #48BCB2
.handler_period
.handler_period__col
	display: inline-block
	font-family: "Roboto"
	font-weight: 200
	font-size: 12px
	line-height: 20px
	color: #D1D3D4
	&:first-of-type
		margin-right: 10px
	.handler_period__title
		display: inline-block
		margin-right: 5px
	.handler_period__value
		display: inline-block
		padding-left: 5px
		padding-right: 5px
		background-color: #394256
.dashboard_graph__1
	margin-bottom: 40px 
.left_col__item.why
	padding-top: 35px
.why_title
	margin-bottom: 25px
	line-height: 1
	cursor: default
.why_list
	display: none
	margin-bottom: 30px

.why_item
	//margin-right: 20px
	p
		padding: 15px
		font-family: "Roboto"
		font-weight: 200
		font-size: 20px
		line-height: 28px
		color: #151D2F
		background-color: #48BCB2
		border-radius: 10px
		span
			font-weight: 400
.why_btn
	display: none
	margin-bottom: 15px
	padding: 0 20px
	line-height: 30px
	font-family: "Roboto"
	font-weight: 200
	font-size: 14px
	color: #fff
	border: 1px solid #fff
	&.why_btn__show
		display: inline-block
.why_list
	position: relative
	.slick-arrow
		position: absolute
		bottom: -55px
		outline: none
		&.slick-prev
			left: 0
			width: 102px
			height: 10px
			font-size: 0
			background-color: transparent
			background-image: url(../img/team-last_btn.png)
			background-size: cover
			background-repeat: no-repeat
			background-position: center
		&.slick-next
			right: 0
			width: 100px
			height: 10px
			font-size: 0
			background-color: transparent
			background-image: url(../img/next_btn.png)
			background-size: cover
			background-repeat: no-repeat
			background-position: center
.recommend_box
	display: none
.recommend_holder
	display: flex
	align-items: center
	margin-bottom: 20px
	padding-top: 30px
	padding-left: 40px
.recommend_title
	display: inline-block
	margin-right: 30px
	font-family: "Roboto"
	font-weight: 400
	font-size: 18px
	line-height: 1
	color: #fff
.recommend_link
	display: none
	padding-left: 10px
	padding-right: 10px
	font-family: "Roboto"
	font-weight: 400
	font-size: 18px
	line-height: 30px
	&.active
			display: inline-block!important
	&.recommend_link__underperform
		margin-right: 30px
		color: #EE2524
		border: 1px solid #EE2524
	&.recommend_link__outperform
		color: #86C440
		border: 1px solid #86C440
.tell_form__holder
	padding-left: 25px
	padding-right: 25px
	text-align: right
	width: 100%
textarea.tell_content
		display: block
		padding: 10px
		width: 100%
		height: 170px
		background-color:  #48BCB2
		outline: none
		border: none
		border-radius: 10px
		font-family: "Roboto"
		font-size: 12px
		font-weight: 200
		line-height: 16px
		box-sizing: border-box
		overflow-y: auto
		resize: none
textarea.tell_content[placeholder]
	font-family: "Roboto"
	font-size: 12px
	font-weight: 200
	line-height: 16px
	color: #000!important
.tell_btn
	display: inline-block
	margin-top: 20px
	margin-right: 20px
	padding: 0 20px
	line-height: 30px
	font-family: "Roboto"
	font-weight: 200
	font-size: 14px
	color: #fff
	border: 1px solid #fff
	background-color: transparent

/* section indicators */
.indicators
	.section_separator
		margin-top: -15px
.indicators_title__holder
	margin-top: -15px
	margin-bottom: 50px
	padding-left: 15px
	h2
		font-family: "Roboto"
		font-weight: 400
		font-size: 24px
		line-height: 1
		color: #D1D3D4
.indicators_title__list
	position: relative
	margin-bottom: 20px
	&::before
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 70px
		background-image: linear-gradient(90deg, rgba(21, 29, 47, 1) 0%, rgba(72, 188, 178, 1) 17.18%, rgba(72, 188, 178, 1) 82.82%, rgba(21, 29, 47, 1) 100%)
.indicators_title
	height: 70px!important
	text-align: center
	padding: 15px 70px
	font-family: "Roboto"
	font-weight: 200
	font-size: 18px
	line-height: 22px
	color: #151D2F
	&.slick-current
		color: #939598

.fn_indicators__slider
	position: relative
	.slick-arrow
		position: absolute
		bottom: -40px
		outline: none
		&.slick-prev
			left: 0
			width: 102px
			height: 10px
			font-size: 0
			background-color: transparent
			background-image: url(../img/team-last_btn.png)
			background-size: cover
			background-repeat: no-repeat
			background-position: center
		&.slick-next
			right: 0
			width: 100px
			height: 10px
			font-size: 0
			background-color: transparent
			background-image: url(../img/next_btn.png)
			background-size: cover
			background-repeat: no-repeat
			background-position: center
.indicators_handler
	text-align: center
.indicators_btn
	display: inline-block
	margin-right: 20px
	padding: 0 20px
	line-height: 30px
	font-family: "Roboto"
	font-weight: 200
	font-size: 14px
	color: #fff
	border: 1px solid #fff
.indicators_table__holder
	padding: 0 25px
	display: none
	&:first-of-type
		display: block
	table
		padding: 25px 20px
		width: 100%
		font-family: "Roboto"
		font-size: 14px
		font-weight: 400
		line-height: 1
		color: #151D2F
		border-collapse: collapse
		border-radius: 10px
		background-color: #48BCB2
		overflow: hidden
		display: block
		tr
			td
				padding-top: 15px
				padding-bottom: 15px
				width: 16.6%
				text-align: center
				border-top: 1px solid #151D2F
				border-bottom: 1px solid #151D2F
				&:first-child
					padding-left: 0
					padding-right: 20px
					text-align: right
					border-top: none
					border-bottom: none
					white-space: nowrap
				&:nth-child(2)
					padding-left: 5px
					text-align: left
				&:last-child
					padding-right: 5px
					text-align: right
			&:last-child
				td
					font-weight: 700
					padding-bottom: 0
					&:not(:first-child)
						border-bottom: none
.indicators_handler__view
	margin-top: 20px
	padding-right: 20px
	text-align: right

/* section dashboard_news */
.dashboard_news
	.section_separator
		margin-top: -15px
.news_title__holder
	margin-top: -15px
	margin-bottom: 50px
	padding-left: 15px
	h2
		font-family: "Roboto"
		font-weight: 400
		font-size: 24px
		line-height: 1
		color: #D1D3D4
		span
			font-weight: 200
.news_content
	padding-bottom: 50px
.news_tabs__handler
	display: flex
	justify-content: center
	margin-bottom: 50px
	.news_tabs__btn
		display: inline-block
		padding: 0 10px
		font-family: "Roboto"
		font-size: 12px
		font-weight: 200
		line-height: 20px
		color: #D1D3D4
		cursor: pointer
		&:nth-of-type(2)
			margin-left: 15px
			margin-right: 15px
		&.active
			border-radius: 10px
			background-color: #48BCB2
			color: #151D2F
.news_slide__list
	display: none
	position: relative
	padding: 0 35px
	&.show
		display: block
.news_slide__item
	display: flex!important
	align-items: flex-start
	width: 29%
	.slide_img__holder
		flex-shrink: 0
		margin-right: 15px
		width: 50px
		height: 50px
		border-radius: 100%
		overflow: hidden
	.slide_content
		padding-right: 20px
	.slide_info
		font-family: "Roboto"
		font-size: 12px
		font-weight: 200
		line-height: 16px
		color: #D1D3D4
	.slide_signature
		margin-top: 5px
		font-family: "Roboto"
		font-size: 10px
		font-weight: 200
		line-height: 14px
		color: #D1D3D4
.news_slide__list
	position: relative
	.slick-arrow
		position: absolute
		top: 50%
		transform: translateY(-50%)
		outline: none
		&.slick-prev
			left: 0
			width: 12px
			height: 30px
			font-size: 0
			background-color: transparent
			background-image: url(../img/news_prev_btn.svg)
			background-size: 100%
			background-repeat: no-repeat
			background-position: center
		&.slick-next
			right: 0
			width: 12px
			height: 30px
			font-size: 0
			background-color: transparent
			background-image: url(../img/news_next_btn.svg)
			background-size: 100%
			background-repeat: no-repeat
			background-position: center

/* dashboard_footer */
.dashboard_footer
	display: block
	padding-bottom: 100px
	.section_separator
		margin-top: -15px
.dashboard_footer__title_holder
	margin-top: -15px
	margin-bottom: 50px
	padding-left: 15px
	h2
		font-family: "Roboto"
		font-weight: 200
		font-size: 24px
		line-height: 1
		color: #EF3E2A
.dashboard_footer__logo_holder
	padding-left: 15px
.dashboard_footer__logo
	text-align: left
	font-family: "Roboto"
	font-weight: 200
	font-size: 17px
	line-height: 1
	color: #D1D3D4

@import "media" // Always at the end
