@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

body.diagram_body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.3
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background-color: #111e30
	input, textarea
		//border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

.btn_diagram
	position: relative
	display: inline-block
	font-family: "Roboto"
	font-weight: 200
	font-size: 10px
	line-height: 25px
	color: #D1D3D4
	text-align: center
	text-decoration: none;
	transition: .3;
	//background-color: #000;
	box-shadow: 0 5px 20px rgba(0,0,0, .5);
	overflow: hidden;
	z-index: 100

.btn_diagram::before 
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	//background: linear-gradient( to left,rgba(255,255,255,0.5) 0%, #010103 100%)
	background: rgba(255,255,255,0.3);
	z-index: -1;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .5s ease-in-out;

.btn_diagram:hover
	color: #fff
	&::before
		transform: scaleX(1);
		transform-origin: left;

.no_scroll 
	overflow-y: hidden

.fixed 
	position: fixed
	margin: 0
	width: 100%
	top: 0
	z-index: 1001
	right: 0
	left: 0

b, strong
	font-weight: bold

header, section, footer
	position: relative
	width: 100%
	min-width: 100px
	
input[type="text"]::-webkit-input-placeholder
	 color: #fff
input[type="text"]::-moz-placeholder
	color: #fff
input[type="text"]:-moz-placeholder
	color: #fff
input[type="text"]:-ms-input-placeholder 
	 color: #fff

input[type="email"]::-webkit-input-placeholder
	 color: #fff
input[type="email"]::-moz-placeholder
	color: #fff
input[type="email"]:-moz-placeholder
	color: #fff
input[type="email"]:-ms-input-placeholder 
	 color: #fff

	 
input[type="submit"]
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	
/* for number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0; 
input[type="number"]
	-moz-appearance: textfield;
input[type="number"]:hover,
input[type="number"]:focus
	-moz-appearance: number-input;
	
span.strong
	font-weight: bold;
	
	
/* select */
select
	-webkit-appearance: none
	-moz-appearance: none 
	-ms-appearance: none
	-o-appearance: none
	appearance: none
	
	 
	
/* COMMON */ 
.wrapper
	position: relative
	margin: 0 auto

	
/* HEADER */
header.diagram_header
	padding-top: 10px
.page_date__holder
	margin-bottom: 10px
	padding-right: 30px
	text-align: right
	.page_date
		display: inline-block
		font-family: "Roboto"
		font-size: 11px
		font-weight: 200
		line-height: 1
		color: #d1d3d4
.header_content
	display: flex
	justify-content: space-between
	padding: 10px 30px 10px 15px
	background-color: #0D3746
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75)
.header_title__holder
	.header_title
		font-family: "Roboto"
		font-size: 24px
		font-weight: 400
		line-height: 28px
		color: #fff
		span
			display: block
			font-family: "Roboto"
			font-size: 18px
			font-weight: 200
			line-height: 22px
			color: #45BDB3
.rates_holder
	display: flex
	align-items: flex-end
	.rates_sell__title, .rates_buy__title
		font-family: "Roboto"
		font-size: 12px
		font-weight: 200
		line-height: 14px
		color: #fff
		text-transform: uppercase
		text-align: right
	.rates_sell__value, .rates_buy__value
		font-family: "Roboto"
		font-size: 24px
		font-weight: 200
		line-height: 28px
		color: #fff
		text-transform: uppercase
	.rates_sell__value
		color: #ED202F
	.rates_buy__value
		color: #7EC2E0
	.rates_separator
		margin-left: 15px
		margin-right: 15px
		span
			font-family: "Roboto"
			font-size: 24px
			font-weight: 200
			line-height: 28px
			color: #d1d3d4
			text-transform: uppercase

.diagram
	margin-top: 15px
.diagram_info
	padding: 10px 15px
	background-color: #0D3746
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75)
	.info__title
		margin-bottom: 15px
		padding-left: 15px
		font-family: "Roboto"
		font-size: 10px
		font-weight: 400
		line-height: 12px
		color: #d1d3d4
	.info_item__title
		margin-top: 10px
		margin-bottom: 5px
		font-family: "Roboto"
		font-size: 10px
		font-weight: 400
		line-height: 12px
		color: #d1d3d4
	.underperform_btn__holder
		display: flex
		justify-content: space-between
		.btn_diagram 
			width: 32%
			&.btn_25
				background-color: rgb(0,176,242)
			&.btn_15
				background-color: rgb(22,127,204)
			&.btn_5
				background-color: rgb(40,85,170)

	.outperform_btn__holder
		display: flex
		justify-content: space-between
		.btn_diagram 
			width: 32%
			&.btn_25
				background-color: rgb(255,85,76)
			&.btn_15
				background-color: rgb(234,54,52)
			&.btn_5
				background-color: rgb(214,23,29)
	.when_btn__holder
		display: flex
		justify-content: space-between
		.btn_diagram 
			width: 49%
			&.btn_this
				background-color: rgb(0,161,194)
			&.btn_next
				background-color: rgb(93,161,51)
	.info_item__why
		display: flex
		flex-direction: column
		input[type=checkbox]
			display: none
		label
			position: relative
			padding-left: 8px
			margin-bottom: 5px
			font-family: "Roboto"
			font-size: 8px
			font-weight: 200
			line-height: 1
			color: #d1d3d4
			cursor: pointer
			&::before
				content: ""
				position: absolute
				left: 0
				top: 50%
				transform: translateY(-50%)
				width: 6px
				height: 6px
				background-color: #D1D3D4
				border-radius: 100%
		input[type=checkbox]:checked + label::before
			background-image: url(../img/checkbox_1.png)
			background-position: center
			background-size: 100%
			background-repeat: no-repeat
	.info_item__recommend
		display: flex
		justify-content: space-between
		margin-bottom: 10px
		.recommend_btn
			align-self: center
			width: 70px
			font-family: "Roboto"
			font-size: 8px
			font-weight: 400
			line-height: 16px
			background-color: rgb(237,32,36)
	textarea
		display: inline-block
		padding: 5px
		width: 100%
		height: 80px
		background-color: #1C2333
		outline: none
		border: none
		font-family: "Roboto"
		font-size: 8px
		font-weight: 200
		line-height: 14px
		box-sizing: border-box
		overflow-y: auto
		resize: none
	textarea[placeholder]
		font-family: "Roboto"
		font-size: 8px
		font-weight: 200
		line-height: 14px
		color: #D1D3D4

.diagram_banner
	padding: 10px 15px
	background-color: #0D3746
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75)
.diagram_banner__row
	display: flex
	justify-content: space-between
	margin-bottom: 5px
	&:first-of-type
		padding-right: 15px
	&:nth-of-type(2)
		align-items: center
	.banner_title
		margin-bottom: 15px
		font-family: "Roboto"
		font-size: 10px
		font-weight: 200
		line-height: 12px
		color: #d1d3d4
	.banner_btn
		display: inline-block
		padding-left: 7px
		padding-right: 7px
		font-family: "Roboto"
		font-size: 10px
		font-weight: 200
		line-height: 25px
		color: #d1d3d4
		&.banner_btn__active
			background-color: #1C2333
	.banner_zoom__holder
		display: flex
		align-items: center
		.zoom_title
			display: inline-block
			font-family: "Roboto"
			font-size: 8px
			font-weight: 400
			line-height: 1
			color: #d1d3d4
			vertical-align: middle
		.zoom_btn__holder
			display: flex
			align-items: center
			background-color: #1C2333
			margin-left: 5px
			.zoom_btn
				display: inline-block
				padding-left: 3px
				padding-right: 3px
				font-family: "Roboto"
				font-size: 8px
				font-weight: 200
				line-height: 15px
				color: #d1d3d4
				vertical-align: middle
	.banner_period
		display: flex
		align-items: center
		.banner_period__from
			display: flex
			align-items: center
			margin-right: 5px
		.banner_period__to
			display: flex
			align-items: center
		.period_text
			display: inline-block
			font-family: "Roboto"
			font-size: 8px
			font-weight: 200
			line-height: 1
			color: #d1d3d4
			vertical-align: middle
		.period_value
			display: inline-block
			padding-left: 3px
			padding-right: 3px
			font-family: "Roboto"
			font-size: 8px
			font-weight: 200
			line-height: 15px
			color: #d1d3d4
			background-color: #1C2333
			vertical-align: middle
.diagram_container
	margin-top: 15px
	padding-left: 15px
	padding-right: 15px
	.diagram_image__holder
		&:first-of-type
			height: 240px
			img
				height: 100%
		&:nth-of-type(2)
			margin-top: 20px
			height: 50px
			img
				height: 100%
.indicators
	margin-top: 15px
	padding-bottom: 75px
.indicators_title__holder
	padding: 10px  5px 5px 10px
	background-color: #0D3746
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75)
	.indicators_title
		font-family: "Roboto"
		font-size: 16px
		font-weight: 400
		line-height: 20px
		color: #fff
.indicators_item
	position: relative
	margin-top: 10px
	padding: 10px  20px 5px 10px
	background-color: #0D3746
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75)
	cursor: pointer
	&.indicators_item__show
		.indicators_toggle__btn
			background-image: url(../img/btn_up.svg)
	.indicators_item__text
		font-family: "Roboto"
		font-size: 14px
		font-weight: 200
		line-height: 16px
		color: #D1D3D4
	.indicators_toggle__btn
		display: inline-block
		position: absolute
		top: 10px
		right: 5px
		width: 15px
		height: 5px
		background-image: url(../img/btn_down.svg)
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		cursor: pointer
		&.toggle_btn__active
			background-image: url(../img/btn_up.svg)
	.indicators_table
		display: none
		margin-top: 10px
		margin-left: 20px
		font-family: "Roboto"
		font-size: 11px
		font-weight: 200
		line-height: 1
		color: #D1D3D4
		border-collapse: collapse
		tr
			td
				padding-top: 8px
				padding-bottom: 8px
				min-width: 45px
				text-align: center
				border-top: 1px solid #D1D3D4
				border-bottom: 1px solid #D1D3D4
				&:first-child
					padding-left: 0
					padding-right: 20px
					text-align: right
					border-top: none
					border-bottom: none
				&:nth-child(2)
					padding-left: 5px
					text-align: left
				&:last-child
					padding-right: 5px
					text-align: right
			&:last-child
				td
					font-weight: 500
					&:not(:first-child)
						border-top: 2px solid #D1D3D4
						border-bottom: 2px solid #D1D3D4
.news_container
	padding: 10px 
	padding-bottom: 15px
	background-color: #0D3746
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75)
	.news_head
		display: flex
		justify-content: space-between
		align-items: center
		.news_head__title
			font-family: "Roboto"
			font-size: 14px
			font-weight: 400
			line-height: 1
			color: #fff
		.news_btn__holder
			.news_btn
				display: inline-block
				padding-left: 10px
				padding-right: 10px
				font-family: "Roboto"
				font-size: 10px
				font-weight: 200
				line-height: 25px
				color: #D1D3D4
				&.news_btn__active
					background-color: #1C2333

	.news_list
		margin-top: 25px
		max-height: 451px
		overflow-y: auto
		.news_item
			display: flex
			margin-top: 15px
			padding-right: 20px
			&:first-of-type
				margin-top: 0
			.news_img__holder
				margin-right: 10px
				width: 25%
			.news_info
				.news_title
					margin-bottom: 5px
					font-family: "Roboto"
					font-size: 11px
					font-weight: 700
					line-height: 14px
					color: #fff
				.news_text
					font-family: "Roboto"
					font-size: 10px
					font-weight: 200
					line-height: 14px
					color: #D1D3D4


/* scroll style */



@import "media" // Always at the end
