@import "vars"
@import "fonts"
@import "libs"

::placeholder
	color: #151D2F

::selection
	background-color: $accent
	color: #fff

body.main_body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.3
	font-family: $default-font
	overflow-x: hidden
	color: $text
	background-color: #262835
	input, textarea
		//border: #666 1px solid
		outline: none
		&:focus:required:invalid
			border-color: red
		&:required:valid
			border-color: green

.img-responsive
	display: block
	max-width: 100%
	height: auto
	&.img-width
		width: 100%

.text-center
	text-align: center

.btn 
	position: relative
	display: inline-block
	padding: 20px 30px
	border: 1px solid rgba(255,255,255,0.7)
	font-family: "Roboto"
	font-weight: 200
	font-size: 18px
	line-height: 1
	color: #fff
	text-decoration: none;
	transition: .5s;
	//background-color: #000;
	box-shadow: 0 5px 20px rgba(0,0,0, .5);
	overflow: hidden;
	z-index: 100

.btn::before 
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	//background: linear-gradient( to left,rgba(255,255,255,0.5) 0%, #010103 100%)
	background: rgba(255,255,255,0.3);
	z-index: -1;
	transform: scaleX(0);
	transform-origin: right;
	transition: transform .5s ease-in-out;

.btn:hover
	color: #fff
	&::before
		transform: scaleX(1);
		transform-origin: left;

.btn_video
	padding-left: 50px!important
	&::after
		content: ""
		position: absolute
		top: 50%
		transform: translateY(-50%)
		width: 11px
		height: 19px
		left: 25px
		background-image: url(../img/play.png)
		background-repeat: no-repeat
		background-position: center
		background-size: cover
		z-index: 100

.section_header__mobile
	display: none
.section_header
	position: relative
	background-color: #262835
	padding: 10px 0
	//box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 5px 10px 5px rgba(0,0,0,0.75);
	z-index: 2000
	.section_header__holder
		display: flex
		justify-content: space-between
		align-items: center
		.section_header__logo
			max-width: 150px
		.section_header__nav
			.section_header__nav_item 
				display: inline-block
				position: relative
				padding: 0 20px
				a 
					position: relative
					padding-bottom: 5px
					font-family: "Roboto"
					font-weight: 200
					font-size: 14px
					line-height: 22px
					color: #fff
					transition: 0.3s
					&:hover
						color: #4BB9B2
				&:first-of-type
					padding: 0 20px 0 0
				&:last-of-type
					padding: 0 0 0 20px
				&:not(:last-of-type)::after
					content: ""
					position: absolute
					right: 0
					height: 100%
					width: 1px
					background-color: #4BB9B2

.no_scroll 
	overflow-y: hidden

.fixed 
	position: fixed
	margin: 0
	width: 100%
	top: 0
	z-index: 1001
	right: 0
	left: 0

b, strong
	font-weight: bold

header, section, footer
	position: relative
	width: 100%
	min-width: 100px
	
input[type="text"]::-webkit-input-placeholder
	 color: #fff
input[type="text"]::-moz-placeholder
	color: #fff
input[type="text"]:-moz-placeholder
	color: #fff
input[type="text"]:-ms-input-placeholder 
	 color: #fff

input[type="email"]::-webkit-input-placeholder
	 color: #fff
input[type="email"]::-moz-placeholder
	color: #fff
input[type="email"]:-moz-placeholder
	color: #fff
input[type="email"]:-ms-input-placeholder 
	 color: #fff

	 
input[type="submit"]
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	
/* for number input */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0; 
input[type="number"]
	-moz-appearance: textfield;
input[type="number"]:hover,
input[type="number"]:focus
	-moz-appearance: number-input;
	
span.strong
	font-weight: bold;
	
	
/* select */
select
	-webkit-appearance: none
	-moz-appearance: none 
	-ms-appearance: none
	-o-appearance: none
	appearance: none
	
	 
	
/* COMMON */ 
.wrapper
	position: relative
	margin: 0 auto

	
/* HEADER */
.header_mobile
		display: none
.header_desktop, .header_mobile
	padding-top: 30px
	padding-bottom: 20px
	position: relative
	background-image: url(../img/bg_head.jpg)
	background-repeat: no-repeat
	background-position: top
	background-size: cover
	&::before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(0,10,39,0.7)
	.wrapper
		.logo_nav__box
			display: flex
			justify-content: space-between
			.header_logo__holder
				max-width: 145px
			.header_nav__holder
				.header__nav__btn
					display: none
				li 
					display: inline-block
					padding-left: 45px
					a 
						position: relative
						padding-bottom: 5px
						font-family: "Roboto"
						font-weight: 500
						font-size: 16px
						line-height: 20px
						color: #fff
						transition: 0.3s
						&:hover
							color: #4BB9B2
						&:hover::after
							content: ""
							position: absolute
							bottom: 0
							left: 0
							right: 0
							height: 1px
							background-color: #4BB9B2
				&:first-of-type
					padding-left: 0
		.header_content__box
			margin-top: 20px
			.header_clock__box
				width: 56%
				margin: 0 auto
				.header_clock__title
					margin-bottom: 10px
					text-align: center
					font-family: "Roboto"
					font-weight: 200
					font-size: 24px
					line-height: 28px
				.clock_container
					margin-bottom: 10px
					padding: 15px
					text-align: center
					background-color: #344356
					.clock_title
						position: relative
						display: inline-block
						text-align: center
						padding: 10px 25px
						font-family: "Roboto"
						font-weight: 500
						font-size: 19px
						line-height: 1
						background-color: #4BB9B2
						z-index: 100
					.clock_content
						margin-top: -10px
						padding: 20px 10px 15px 10px
						background-color: #fff 
						color: #000
						overflow: visible
						.clock_start
							margin-bottom: 10px
							font-family: "Roboto"
							font-weight: 400
							font-size: 11px
							line-height: 1
							text-align: left
							color: #A0A09F
						.clock_time__holder
							display: flex
							justify-content: space-between
							height: 75px
							.clock_time__item
								position: relative
								width: 30%
								display: flex
								flex-direction: column
								align-items: center
								justify-content: center
								border-radius: 5px
								background-color: #EAEAEA
								box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.75)
								&::before
									content: ""
									position: absolute
									top: 50%
									transform: translateY(-50%)
									left: 0
									right: 0
									height: 0.7px
									background-color: #ccc
									z-index: 10
								.clock_number
									font-family: "Roboto"
									font-weight: 700
									font-size: 34px
									line-height: 1
									color: #24388C
									z-index: 100
								.clock_text
									position: absolute
									bottom: 10px
									left: 50%
									transform: translateX(-50%)
									font-family: "Roboto"
									font-weight: 400
									font-size: 11px
									line-height: 1
									text-transform: uppercase
									color: #A0A09F
						.clock_info
							margin-top: 20px
							display: flex
							//justify-content: space-around
							span
								font-family: "Roboto"
								font-weight: 200
								font-size: 12px
								line-height: 1
								color: #A0A09F
								&.clock_info__discount
									margin-left: 20px
						.clock_exchange
							margin-top: 5px
							font-family: "Roboto"
							font-weight: 700
							font-size: 24px
							line-height: 1
							color: #262D5D
							text-align: left
							.clock_exchange__equally
								color: #A0A09F
						.clock_btn__holder
							position: relative
							margin-top: 20px
							padding-top: 15px
							border-top: 1px solid #A0A09F
							overflow: visible
							.clock_btn
								position: relative
								display: inline-block
								text-align: center
								padding: 10px 25px
								font-family: "Roboto"
								font-weight: 500
								font-size: 19px
								line-height: 1
								background-color: #4BB9B2
								color: #fff
								transition: 0.3s
								//animation: pulsate 1.2s linear infinite
								z-index: 1000
								overflow: visible
								&:hover
									box-shadow: 0px 15px 20px -10px rgba(0,0,0,0.75)

				.clock_subscribe__form
					.clock_form__title
						text-align: center
						font-family: "Roboto"
						font-weight: 200
						font-size: 17px
						line-height: 20px
						span
							font-weight: 400
					.clock_input__holder
						margin-top: 25px
						input
							width: 100%
							padding: 0 10px
							background-color: transparent
							font-family: "Roboto"
							font-weight: 200
							font-size: 15px
							line-height: 25px
							color: #fff
							border-bottom: 1px solid rgba(255,255,255,0.8)
			.header_banner__box
				width: 71%
				margin: 0 auto
				.header_banner__text
					width: 80%
					margin: 0 auto
					text-align: center
					font-family: "Roboto"
					font-weight: 200
					font-size: 24px
					line-height: 28px
				.header_banner__text_bold
					text-align: center
					font-family: "Roboto"
					font-weight: 700
					font-size: 78px
					line-height: 94px
				.header_banner__text_bottom
					text-align: center
					font-family: "Roboto"
					font-weight: 200
					font-size: 24px
					line-height: 28px
					span
						font-style: italic
						font-family: "Roboto"
						font-weight: 200
						font-size: 17px
						line-height: 20px
			.header_banner__links
				margin-top: 20px
				display: flex
				justify-content: space-around
		.header_footer__box
			margin-top: 130px
			.header_footer__list
				display: flex
				justify-content: space-between
				align-items: center
				.header_footer__item:first-of-type
					color: #4BB9B2

/* promo_1 */

.promo_1
	background-color: #262835
	.promo_1_content
		padding-top: 110px
		.promo_1_content__title
			font-family: "Roboto"
			font-weight: 200
			font-size: 40px
			line-height: 48px
			color: #fff
			span
				font-weight: 500
		.promo_1_content__text
			margin-top: 44px
			font-family: "Roboto"
			font-weight: 200
			font-size: 22px
			line-height: 26px
			color: #C6C6C6
		.promo_1_content__text_mobile
			display: none
	.promo_1_banner
		display: flex
		flex-direction: column
		align-items: center
		//justify-content: space-between
		height: 100%
	.promo_1_banner__holder
		width: 100%
		padding: 85px 0 45px 0
		text-align: center
		background-color: #35333c
		border-radius: 30px
		box-shadow: 0px 0px 15px 10px rgba(0,0,0,0.5);
		.promo_1_banner__title
			font-family: "Roboto"
			font-weight: 200
			font-size: 31px
			line-height: 1
			color: #fff
			text-align: center
		.promo_1_banner__logo
			margin: 35px auto
			width: 95px
			height: 95px
		.promo_1_banner__btn
			margin: 0 auto
			padding: 10px 30px
	.promo_1_link
		
/* promo_2 */
.promo_2__holder
	height: 867px
	position: relative
	&.perspective
		position: fixed
		width: 100%
		top: 0
		left: 0
		-webkit-perspective: 500
		z-index: 11000
.promo_2__container
	position: absolute
	width: 100%
	height: 100%	
.rotated
	-webkit-transform: rotateY(180deg)
	-webkit-transform-style: preserve-3d
	-webkit-transition: -webkit-transform 1.5s
.side
	position: absolute
	-webkit-backface-visibility: hidden
	-webkit-box-shadow: 0 2px 5px #666
.back
	-webkit-transform: rotateY(180deg)



.promo_2_mobile
	display: none
.promo_2_mobile__info
	display: none
.promo_2
	display: block
	height: 100%
	background-image: url(../img/bg_promo_2.jpeg)
	background-repeat: no-repeat
	background-position: top
	background-size: cover
	&.promo_2__show
		display: block
	.promo_2_content__mobile
		display: none
	.section_header
		&.d_hidden
			position: absolute
			clip: rect(0 0 0 0)
			width: 1px
			height: 1px
			margin: -1px
	.promo_2_content
		display: flex
		justify-content: space-between
		padding-top: 45px
		padding-bottom: 55px
		transition: 1.5s
		&.d_hidden
			position: absolute
			clip: rect(0 0 0 0)
			width: 1px
			height: 1px
			margin: -1px

		.promo_2__content_box
			padding: 35px 25px 30px 15px
			background-color: rgba(255,255,255,0.3)
			box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
			.promo_2_content__title
				font-family: "Roboto"
				font-weight: 200
				font-size: 36px
				line-height: 46px
			.promo_2_content__text
				margin-top: 30px
				font-family: "Roboto"
				font-weight: 200
				font-size: 22px
				line-height: 26px
		.promo_2_banner
			padding-top: 435px
			text-align: center
			.promo_2_banner__text
				margin: 0 auto
				width: 80%
				font-family: "Futura"
				font-weight: 500
				font-size: 21px
				line-height: 25px
				text-transform: uppercase
			.promo_2_link
				display: inline-block
				margin-top: 35px
				z-index: 0

.promo_2_bernie__screen
	display: block
	height: 100%
	background-image: url(../img/Bernie-Reveal.jpeg)
	background-repeat: no-repeat
	background-position: 0 -150px
	background-size: cover
	&.promo_2__show
		display: block
	.section_header
		z-index: 2500
	.promo_2_banner
		padding-top: 225px
		padding-bottom: 40px
	.promo_2_banner__title
		padding-left: 30px
		font-family: "Futura"
		font-weight: 700
		font-size: 18px
		line-height: 22px
		text-transform: uppercase
	.second_screen__btn
		position: absolute
		right: 20px
		top: 10%
		width: 25px
		height: 25px
		cursor: pointer
		z-index: 5000
		transition: 0.3s
		span
			position: absolute
			top: 50%
			left: 50%
			transform: translate(50%, 50%)
			width: 25px
			height: 2px
			background-color: #FFFFFF
			&:first-of-type
				transform: rotate(-45deg) 
			&:last-of-type
				transform: rotate(45deg) 
		&:hover
			transform: scale(1.4)
	.promo_2__secondary_banner
		margin-top: 95px
		padding: 15px 25px 15px 15px
		background-color: rgba(0,10,39,0.5)
		border-radius: 10px
		.secondary_banner__box
			overflow-y: auto
			width: 100%
			height: 300px
			.promo_2_banner__text
				font-family: "Roboto"
				margin-bottom: 25px
				font-weight: 200
				font-size: 18px
				line-height: 24px
				text-transform: none
				&:last-of-type
					margin-bottom: 0
	.promo_2_link__holder
		text-align: center
		.promo_2_link
			display: inline-block
			margin-top: 35px
.promo_2_content
	display: block



.separate_mobile
	display: none

/* promo_3 */
.promo_3
	background-image: url(../img/bg_promo_3.jpeg)
	background-repeat: no-repeat
	background-position: top
	background-size: cover
	&::before
		content: ""
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		background-color: rgba(38,40,53,0.8)
	.promo_3_content
		padding-top: 90px
		padding-bottom: 85px
		.promo_3_link__holder
			text-align: center
			.promo_3_link
				//margin-top: 325px
		.promo_3_content__title
			font-family: "Roboto"
			font-weight: 200
			font-size: 40px
			line-height: 48px
			text-transform: uppercase
			br 
				display: none
		.promo_3_content__text
			margin-top: 40px
			font-family: "Roboto"
			font-weight: 200
			font-size: 22px
			line-height: 26px
			//text-align: center

/* team */
.team
	background-color: #262835
	.team_title
		padding-top: 45px
		margin-bottom: 40px
		h2
			font-family: "Roboto"
			font-weight: 200
			font-size: 40px
			line-height: 48px
	.team_content
		padding-bottom: 50px
		position: relative
	.team_list
		margin-top: 70px
		text-align: center
		overflow: hidden
		.team_item
			font-family: "Roboto"
			font-weight: 400
			font-size: 16px
			line-height: 22px
			a 
				color: #fff
				outline: none
				&.active
					color: #4BB9B2
	.team_tabs
		display: none!important
		&.show
			display: block!important
	.team_slider
		margin-bottom: 5px
		position: relative
		.slick-arrow
			position: absolute
			top: 60%
			width: 36px
			height: 43px
			background-size: contain
			background-position: center
			background-color: transparent
			font-size: 0
			outline: 0
			border: none
			&.slick-prev
				left: -50px
				background-image: url(../img/prev.png)
			&.slick-next
				right: -50px
				background-image: url(../img/next.png)
		.team_slide__item
			margin-bottom: 45px
			text-align: center
			.slider_icon__holder
				width: 90%
				margin: 10px auto
				border-radius: 100%
				box-shadow: 0 5px 20px rgba(0,0,0,.5);
			.slide_name
				margin-top: 10px
				font-family: "Roboto"
				font-weight: 200
				font-size: 13px
				line-height: 16px
			.slide_link
				font-family: "Roboto"
				font-weight: 200
				font-size: 13px
				line-height: 16px
				color: #4BB9B2
				text-transform: uppercase
	.team_popup
		display: none
		position: absolute
		right: 0
		bottom: 50px
		width: 75%
		max-height: 380px
		padding: 30px 20px 45px 20px
		background-color: rgba(198,198,198,0.95)
		box-shadow: 0px 0px 10px 10px rgba(0,0,0,0.5);	
		border-radius: 30px
		.team_popup__btn
			position: absolute
			right: 0
			top: 40px
			cursor: pointer
			z-index: 100
			transition: 0.3s
			span
				display: inline-block
				width: 30px
				height: 2px
				background-color: #FFFFFF
				&:first-of-type
					transform: translateX(50%) rotate(-45deg) 
				&:last-of-type
					transform: translateX(-50%) rotate(45deg)
			&:hover
				transform: scale(1.4)
		.popup_icon
			width: 100%
			margin: 0 auto
			border-radius: 50%
			box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);	
			overflow: hidden
		.popup_title
			position: relative
			font-family: "Roboto"
			font-weight: 200
			font-size: 38px
			line-height: 46px
			color: #4A4A49
			&::before
				content: ""
				position: absolute
				top: 0
				bottom: 0
				left: -12px
				width: 2px
				background-color: #4BB9B2
		.popup_text
			max-height: 225px
			font-family: "Roboto"
			font-weight: 200
			font-size: 14px
			line-height: 18px
			color: #4A4A49
			overflow-y: auto
			p 
				margin-top: 35px
				&:last-of-type
					margin-top: 0
.team_mobile
	display: none
/* 	tokenomics */
.tokenomics
	background-color: #35333c
	.wrapper
		height: 100%
		.tokenomics_video__container
			display: flex
			flex-direction: column
			flex-wrap: wrap
			align-items: center
			justify-content: center
			padding-top: 50px
			padding-bottom: 50px
			width: 100%
			height: 95%
			.tokenomics_video
				position: relative
				width: 100%
				padding-bottom: 56.25%
				height: 0
				overflow: hidden
				iframe
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
			.tokenomics_link
				margin-top: 50px
				animation: pulsate 1.2s linear infinite
	.tokenomics_mobile
		display: none


/* sale */
.sale
	background-color: #262835
	.sale_content
		display: flex
		flex-direction: column
		justify-content: space-between
		height: 100%
	.sale_content__box
		padding-bottom: 80px
		padding-top: 40px
		.sale_title
			margin-bottom: 25px
			font-family: "Roboto"
			font-weight: 200
			font-size: 40px
			line-height: 48px
		.sale_text
			font-family: "Roboto"
			font-weight: 200
			font-size: 20px
			line-height: 24px
		.sale_diagram__box
			.sale_diagram__text
				font-family: "Roboto"
				font-weight: 200
				font-size: 15px
				line-height: 18px
				color: #C6C6C6
				span
					display: block
					font-weight: 500
			.sale_link 
				margin-top: 30px
				padding: 15px 20px
				animation: pulsate 1.2s linear infinite
		.sale_diagram__container
			display: flex
			justify-content: space-between
			position: relative
			.sale_diagram
				position: relative
				width: 300px
				height: 300px
				background-image: url(../img/diagram.png)
				background-position: center
				background-size: cover
				background-repeat: no-repeat
				border: 4px solid #fff
				border-radius: 50%
				box-shadow: 0px 0px 10px 2px rgba(255,255,255,0.5)
				cursor: pointer
				transition: 0.3s
			.sale_diagram:hover
				box-shadow: 0px 0px 20px 10px rgba(255,255,255,0.5)
			
			.sale_diagram__list
				position: absolute
				width: 150px
				height: 300px
				right: 0
				border-top-right-radius: 150px
				border-bottom-right-radius: 150px
				.sale_20
					position: absolute
					top: 0
					width: 100%
					height: 50%
					background-color: transparent
					clip-path: polygon(0 0, 100% 0%, 100% 67%, 0% 100%)
					z-index: 10000
				.sale_15
					position: absolute
					top: 0
					width: 100%
					height: 100%
					background-color: transparent
					clip-path: polygon(100% 33%, 100% 44%, 100% 95%, 0 50%)
				.sale_10
					position: absolute
					top: 0
					width: 100%
					height: 100%
					background-color: transparent
					clip-path: polygon(100% 95%, 100% 100%, 25% 100%, 0 50%)
				.sale_5
					position: absolute
					top: 0
					width: 100%
					height: 100%
					background-color: transparent
					clip-path: polygon(25% 100%, 11% 100%, 0 100%, 0 50%)
			.sale_diagram .sale_20:hover ~ .sale_diagram__bonus_list > .sale_diagram__bonus_item1
				opacity: 1
			.sale_diagram .sale_15:hover ~ .sale_diagram__bonus_list > .sale_diagram__bonus_item2
				opacity: 1
			.sale_diagram .sale_10:hover ~ .sale_diagram__bonus_list > .sale_diagram__bonus_item3
				opacity: 1
			.sale_diagram .sale_5:hover ~ .sale_diagram__bonus_list > .sale_diagram__bonus_item4
				opacity: 1
			.sale_diagram > .sale_5:hover ~ .sale_diagram__bonus_list
				display: none

			.sale_diagram__bonus_list
				position: relative
				left: 200px
				margin-top: 30px
				width: 120px
				transition: 0.3s
				&.bonus_list_mobile 
					display: none
					position: static
					margin-top: 30px
					width: 120px
					opacity: 0
					transition: 0.3s
				.sale_diagram__bonus_item
					opacity: 0
					transition: 1s
				li 
					position: relative
					margin-bottom: 70px
					font-family: "Roboto"
					font-weight: 200
					font-size: 15px
					line-height: 18px
					color: #C6C6C6
					transition: 0.3s
					&:nth-of-type(3)
						margin-bottom: 10px
					&:last-of-type
						margin-bottom: 0
					&::before
						content: ""
						position: absolute
						top: 50%
						transform: translateY(-50%)
						background-repeat: no-repeat
						background-position: left
						background-size: cover
					&:nth-of-type(1)::before
						left: -85px
						width: 80px
						height: 7px
						background-image: url(../img/d_arrow_1.png)
					&:nth-of-type(2)::before
						left: -50px
						width: 45px
						height: 7px
						background-image: url(../img/d_arrow_2.png)
					&:nth-of-type(3)::before
						left: -90px
						width: 85px
						height: 7px
						background-image: url(../img/d_arrow_3.png)
					&:nth-of-type(4)::before
						left: -165px
						width: 160px
						height: 6px
						background-image: url(../img/d_arrow_4.png)
		.sale_diagram__container_mobile
			display: none
		.sale_diagram__link_holder
			display: none
		.sale_diagram__mobile_date
			display: none
		.sale_info
			padding: 20px 35px 25px 25px
			background-color: rgba(198,198,198,0.2)
			box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5)
			.sale_info__title
				font-family: "Roboto"
				font-weight: 200
				font-size: 36px
				line-height: 44px
			.sale_info__text
				font-family: "Roboto"
				font-weight: 200
				font-size: 18px
				line-height: 34px
				&:first-of-type
					padding-top: 11px
			.sale_info__desc
				font-family: "Roboto"
				font-weight: 200
				font-size: 16px
				line-height: 19px

/* roadmap */
.roadmap
	background-color: #262835
	.roadmap_content
		padding-top: 135px
		padding-bottom: 140px
		.roadmap_item
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			flex-wrap: wrap
			position: relative
			width: 100px
			height: 100px
			font-family: "Roboto"
			font-weight: 200
			font-size: 17px
			line-height: 21px
			text-align: center
			clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
			cursor: pointer
			transition: 0.3s
			p 
				width: 100%
			&.roadmap_item__blue
				background: #5EB3AE
			&.roadmap_item__yellow
				background: #E9A301
			&::before
				content: ""
				position: absolute
				top: 0
				bottom: 0
				height: 100%
				width: 100%
				background-color: rgba(0,0,0,0.7)
				opacity: 0
				transition: 0.3s
			&:hover::before
				opacity: 1
		.roadmap_logo
			margin: 0 auto
			width: 100px
		.roadmap_info
			background-image: url(../img/bg_roadmap.png)
			background-repeat: no-repeat
			background-position: center
			background-size: 90%
			.roadmap_road__list
				.roadmap_road
					display: none
					position: relative
					padding: 30px 30px 30px 55px
					margin-bottom: 25px
					height: 290px
					background-color: rgba(198,198,198,0.2)
					box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5)
					&:first-of-type
						display: block
					&::before
						content: ""
						position: absolute
						top: 34px
						left: 10px
						height: 26px
						width: 26px
						background-color: #5EB3AE
						clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
					.roadmap_road__title
						font-family: "Roboto"
						font-weight: 200
						font-size: 36px
						line-height: 44px
					.roadmap_road__text
						margin-top: 10px
						font-family: "Roboto"
						font-weight: 200
						font-size: 18px
						line-height: 22px
						span
							display: block
							margin-bottom: 10px
							font-family: "Roboto"
							font-weight: 400
							font-size: 22px
							line-height: 26px
			.roadmap_funding__list
				.roadmap_funding
					display: none
					position: relative
					padding: 30px 30px 30px 55px
					min-height: 200px
					background-color: rgba(198,198,198,0.2)
					box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5)
					&:first-of-type
						display: block
					&::before
						content: ""
						position: absolute
						top: 34px
						left: 10px
						height: 26px
						width: 26px
						background-color: #E9A301
						clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
					.roadmap_funding__title
						font-family: "Roboto"
						font-weight: 200
						font-size: 36px
						line-height: 44px
					.roadmap_funding__text
						margin-top: 10px
						font-family: "Roboto"
						font-weight: 200
						font-size: 18px
						line-height: 22px

.roadmap_mobile
	display: none

.airdrop_mobile
	display: none

/* footer */
.footer_mobile
	display: none
footer
	.footer_content
		position: relative
		padding-top: 50px
		padding-bottom: 50px
		background-image: url(../img/bg_footer.jpeg)
		background-repeat: no-repeat
		background-position: top
		background-size: cover
		&::before
			content: ""
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			background-color: rgba(0,10,39,.7)
		.footer_logo__holder
			width: 126px
			margin: 0 auto
			//animation: slideDown 3s linear 
		.footer_title__holder
			margin-top: 15px
			text-align: center
			.footer_title
				font-family: "Roboto"
				font-weight: 200
				font-size: 36px
				line-height: 44px
			.footer_title__promo
				font-family: "Roboto"
				font-weight: 200
				font-size: 22px
				line-height: 26px
		.footer_link__holder
			margin-top: 65px
			text-align: center
			.footer_link
				border: none
				box-shadow: none
		.footer_regist
			margin-top: 35px
			text-align: center
			.footer_regist__text
				font-family: "Roboto"
				font-weight: 200
				font-size: 20px
				line-height: 20px
			.footer_regist__action
				.footer_regist__item
						display: flex
						justify-content: space-between
						align-items: center
				margin-top: 20px
				display: flex
				align-items: center
				justify-content: center
				.action_text
					font-family: "Roboto"
					font-weight: 200
					font-size: 12px
					line-height: 14px
				.action_number
					display: flex
					align-items: center
					justify-content: center
					margin-left: 5px
					margin-right: 5px
					width: 38px
					height: 38px
					background-color: #5EB3AE
					clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
					font-family: "Roboto"
					font-weight: 400
					font-size: 18px
					line-height: 22px
		.footer_list
			margin-top: 30px
			padding-top: 30px
			padding-bottom: 10px
			background-color: rgba(198,198,198,.2);
			.footer_form
				form
					.input_holder
						margin-top: 10px
						input
							width: 100%
							background-color: transparent
							border-bottom: 1px solid #fff
							font-family: "Roboto"
							font-weight: 200
							font-size: 11px
							line-height: 16px
							color: #fff
					.footer_form_btn__holder
						text-align: right
						.footer_form_btn
							position: relative
							padding-right: 20px
							background-color: transparent
							font-family: "Roboto"
							font-weight: 200
							font-size: 11px
							line-height: 16px
							color: #fff
							outline: none
							&::after
								content: ""
								position: absolute
								right: 0
								top: 50%
								transform: translateY(-50%)
								width: 12px
								height: 12px
								background-color: #E9A301
								border-radius: 50%
								transition: 0.3s
							&:hover::after
								background-color: #5EB3AE

			.footer_list__number
				display: flex
				align-items: center
				justify-content: center
				margin-right: 5px
				width: 25px
				height: 25px
				background-color: #5EB3AE
				clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%)
				font-family: "Roboto"
				font-weight: 400
				font-size: 18px
				line-height: 22px
			.footer_form__title, .social_title
				display: flex
				align-items: center
				font-family: "Roboto"
				font-weight: 200
				font-size: 15px
				line-height: 18px
			.social_title
				justify-content: center
			.social_icon__holder
				margin: 0 auto
				margin-top: 40px
				width: 60px
				height: 60px
				border-radius: 50%
				cursor: pointer
				overflow: hidden
				transition: 0.3s
				&:hover
					transform: scale(1.1)
					box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5)

/* tokens_popup */
.tokens_popup
	display: none
	position: fixed
	left: 0
	top: 70%
	width: 235px
	height: 114px
	padding: 20px 30px 20px 25px
	background-color: #C6C6C6
	font-family: "Roboto"
	font-weight: 200
	font-size: 22px
	line-height: 26px
	color: #000
	box-shadow: 5px 0px 10px 3px rgba(0,0,0,0.75)
	z-index: 3000
	.tokens_popup__btn
		display: none
		position: absolute
		right: 5px
		top: 0
		cursor: pointer
		z-index: 5000
		transition: 0.3s
		span
			display: inline-block
			width: 15px
			height: 2px
			background-color: #FFFFFF
			&:first-of-type
				transform: translateX(50%) rotate(-45deg) 
			&:last-of-type
				transform: translateX(-50%) rotate(45deg)
		&:hover
			transform: scale(1.4)
	span
		font-weight: 500



/* animation */
@keyframes pulse
	0%
		transform: scale(1)
		opacity: 0
	50%
		transform: scale(1.05)
		opacity: 0
	60%
		transform: scale(1.1)
		opacity: .6
	70%
		transform: scale(1.15)
		opacity: .85
	80%
		transform: scale(1.1)
		opacity: .6
	100%
		transform: scale(1)
		opacity: 0

@keyframes pulsate
	0% 
		color: #ddd
		text-shadow: 0 -1px 0 #000
	50%  
		color: #fff;
		text-shadow: 0 -1px 0 #444, 0 0 5px #ffd, 0 0 8px #fff
	100%
		color: #ddd
		text-shadow: 0 -1px 0 #000

@keyframes slideDown 
	0% 
			transform: translateY(-100%)
	50%
			transform: translateY(8%)
	65%
			transform: translateY(-4%)
	80%
			transform: translateY(4%)
	95%
			transform: translateY(-2%)
	100% 
			transform: translateY(0%)
		
/* scroll style */
::-webkit-scrollbar-button
	background-repeat: no-repeat
	width: 12px; height: 100%;
::-webkit-scrollbar-track
	background-color: #9D9D9C;
::-webkit-scrollbar-thumb
	background-color: #878787
	background-position: center
	background-repeat: no-repeat;
::-webkit-resizer
	background-repeat: no-repeat;
	width: 7px;
	height: 0px;
::-webkit-scrollbar
	width: 12px;



@import "dashboard"
@import "media" // Always at the end
